@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    overflow: hidden;
    overflow-y: scroll;
}
.customscrollbar::-webkit-scrollbar {
    width: 0px !important;
}

/* Track */
.customscrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.customscrollbar::-webkit-scrollbar-thumb {
    background: #888;
}